.hidden {
    display: none;
}

.distChart {
    height: 500px;
    width: 45%;
    display: inline-block;
    position: relative;
}
.worldChart {
    height: 600px;
    width: 45%;
    display: inline-block;
    position: relative;
}
.worldMapGraticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .2;
    pointer-events: none;
}
.worldMapOutline {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: 1;
    pointer-events: none;
}
.worldChartOption {
    margin: 4px 4px 4px 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
}
.worldChartOptionHovered {
    background-color: rgb(237, 180, 155);
}
.worldChartOptionSelected {
    background-color: rgb(255, 127, 80);
}
.countryOutline {
    stroke: rgb(255, 79, 246);
    stroke-width: 1px;
    stroke-opacity: 1;
}
.d3-tip {
    padding-left: 4px;
    padding-right: 4px;
    border-style: groove;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}

.distChartBackground {
    fill: #cccccc;
    opacity: .25;
}

.distChartRectOverlay {
    fill: #ffffff;
    opacity: 0.0;
}

.distChartArea {
    opacity: .8;
}

.distChartExports {
    fill: #c6162b;
}

.distChartImports {
    fill: blue;
}

.distChartBar {
    opacity: .8;
}

.distChartHeaders {
    stroke: black;
}

.distChartRowLabels {
    stroke: black;
}

.distChartSelectedCountryLine {
    stroke: black;
    stroke-width: 2;
    opacity: .8;
}

.distChartHighlightedProduct {
    stroke: red;
}

.distChartRankLabel {
    stroke: black;
    font-size: 12px;
}

.barChartLabelLeft {
    stroke: black;
    font-size: 10px;
    text-anchor: end; 
}

.barChartLabelRight {
    stroke: black;
    font-size: 10px;
    text-anchor: start; 
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
