.documentTitle {
    margin-left: 30vw;
}

.aboutLink {
    margin-left: 36vw;
}

iframe {
    margin-left: 28vw;
}

.hidden {
    display: none;
}

.distChart {
    height: 450px;
    width: 45%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.worldChart {
    height: 400px;
    width: 45%;
    display: inline-block;
    position: relative;
}

.trendChart {
    width: 90%;
    display: relative;
}
.worldMapGraticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .2;
    pointer-events: none;
}
.worldMapOutline {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: 1;
    pointer-events: none;
}
.worldChartOption {
    margin: 4px 4px 4px 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
}
.worldChartOptionHovered {
    background-color: rgb(237, 180, 155);
}
.worldChartOptionSelected {
    background-color: rgb(255, 127, 80);
}
.countryOutline {
    stroke: rgb(255, 79, 246);
    stroke-width: 1px;
    stroke-opacity: 1;
}
.d3-tip {
    padding-left: 4px;
    padding-right: 4px;
    border-style: groove;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}

.distChartBackground {
    fill: #cccccc;
    opacity: .25;
}

.distChartRectOverlay {
    fill: #ffffff;
    opacity: 0.0;
}

.distChartHeaderOverlay {
    fill: #ffffff;
    opacity: 0.0;
    cursor: s-resize;
}

.distChartRowLabelOverlay {
    fill: #ffffff;
    opacity: 0.0;
    cursor: e-resize;
}

.distChartArea {
    opacity: .8;
}

.distChartExports {
    fill: #c6162b;
}

.distChartImports {
    fill: blue;
}

.distChartBar {
    opacity: .8;
}

.distChartHeaders {
    stroke: black;
    font-size: 0.8vw;
    cursor: pointer;
}

.distChartRowLabels {
    stroke: black;
    font-size: 0.6vw;
}

.distChartSelectedCountryLine {
    stroke: black;
    stroke-width: 2;
    opacity: .8;
}

.distChartHighlightedProduct {
    stroke: red;
}

.distChartRankLabel {
    stroke: black;
    font-size: 12px;
    alignment-baseline: middle;
}

.barChartLabelLeft {
    stroke: white;
    fill: white;
    font-size: 10px;
    text-anchor: end; 
}

.barChartLabelRight {
    stroke: black;
    font-size: 10px;
    text-anchor: start; 
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.activeYear-background {
    font-size: 80px;
    opacity: .4;
}

.info-background {
    font-size: 30px;
    opacity: .4;
}

.export-background {
    font-size: 30px;
    opacity: .4;
    fill: red;
}

.import-background {
    font-size: 30px;
    opacity: .4;
    fill: blue;
}

.selected-year{
    fill: black;
}

.trend-export{
    fill: red;
}

.trend-import{
    fill: blue;
}

.hover {
    stroke-width: 6px;
    stroke: #000000;
    opacity: 1;
}
