.hidden {
    display: none;
}

.distChart {
    height: 500px;
    width: 45%;
    display: inline-block;
    position: relative;
}
.worldChart {
    height: 600px;
    width: 45%;
    display: inline-block;
    position: relative;
}
.worldMapGraticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .2;
    pointer-events: none;
}
.worldMapOutline {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: 1;
    pointer-events: none;
}
.worldChartOption {
    margin: 4px 4px 4px 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
}
.worldChartOptionHovered {
    background-color: rgb(237, 180, 155);
}
.worldChartOptionSelected {
    background-color: rgb(255, 127, 80);
}
.countryOutline {
    stroke: rgb(255, 79, 246);
    stroke-width: 1px;
    stroke-opacity: 1;
}
.d3-tip {
    padding-left: 4px;
    padding-right: 4px;
    border-style: groove;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}
